<% include partials/header %>

<h1> You're on the show page! </h1>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT2hTK5nAFb3g9g0_dElmTyh5j-UX1dXA"></script>
<script src="./scripts/maps.js"></script>
<script src="./scripts/gyms.js"></script>
<% include partials/footer %>
